$main-color:      #44C0CC;
$home-link-color: #ffffff;
$white-color:     #ffffff;
$hr-login-color:  #8c8b8b;
$input-color:     #b3b3b3;

$font-family-open-sans:    "Open Sans", sans-serif;

$margin-auto: 0 auto;
